{% extends 'layout.html' %}

{% block title %}{{ pagetitle|title }}{% endblock title %}

{% block body %}
  <script type="text/javascript">
    var nickname = "{{ nickname }}";
    var host = "{{ host }}";
    var ninjaMode = false;
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/sugar-full.min.js"></script>
  <script src="/static/js/markdown.js"></script>
  <script src="/static/js/clientside.js"></script>
  <h1>{{ pagetitle|title }} <small>| Have fun !</small></h1>
  <div class="row">
    <div class="col-md-4 text-center">
      <p>
        Hello {{nickname}} ! Welcome to Chatjs chatroom.
      </p>
    </div>
    <div class="col-md-4 text-center" id="nbusers">

    </div>
    <div class="col-md-4">
      <p class="text-center">
        Network status: <span id="connstatus">Awaiting connection <i class="fa fa-circle-o-notch fa-spin"></i></span>
      </p>
    </div>
  </div>
  <div class="col-md-12">
    <div class="input-group input-group-lg">
      <input id="message" name="message" type="text" class="form-control" placeholder="Enter your message here !" required autofocus>
      <div class="input-group-btn">
        <button id="sendbutton" class="btn">Send !</button>
        <button id="clearbutton" class="btn btn-primary">Clear</button>
        <button class="btn btn-warning hint--left hint--rounded" data-hint="Ninja mode will make your messages disappear after 2 minutes." id="ninjamode">Switch to ninja mode</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9" style="margin-top: 3em;" id="chatconsole">
    </div>
    <div class="col-md-3" style="margin-top: 3em;" id="userlist">
      userlist to be implemented
    </div>
  </div>
{% endblock body %}
